<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css" th:href="@{../../css/bootstrap/bootstrap.min.css}" />

</head>
<body>
    <div class="content">
        <form name="form" th:action="@{/home}" th:object="${userModel}" action="/home" method="POST">
            <fieldset>
                <input class="form-control" type="text" name="username" th:field="*{userName}" value="" placeholder="Username" />
                <input class="form-control" type="password" name="password" th:field="*{password}" placeholder="Password" />
            </fieldset>
            <input type="submit" id="login" value="Login" class="btn btn-primary" />
        </form>
    </div>

    <div th:if="${userModel.userName != ''}">
        <p th:text="${userModel.userName}"></p>
        <p th:text="${userModel.password}"></p>
    </div>
    <!--<p th:text="'Hello, ' + ${username} + '!'"></p>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap/bootstrap.min.js" th:src="@{../../js/bootstrap/bootstrap.min.js}"  />
</body>
</html>